


<div class="row" style='text-align:center;'>

    <% label = "<span class='icon-facebook'></span> | Connect with Facebook" %>
    <%= link_to label.html_safe, user_omniauth_authorize_path(:facebook), class: 'btn btn-default btn-lg' %>

</div>









