


<% if user_signed_in? %>
  <%= render partial: 'messages/form', locals: {:message => Message.new} %>
<% end %>

<div id='messages' >
  <% if @messages.any? %>
    <% @messages.each do |message| %>
      <%= render message %>
    <% end %>
  <% end %>
</div>






